// Main container

body > main {
  min-height: calc(100vh - 54px); // Viewport height minus medium screen navbar height, to push footer to bottom
  padding-bottom: $grid-gutter-width; // Don't stick to footer
}

.container {
  max-width: 75%;
}

.header h1 {
  color: #000000; // Replace with your desired color for the title
}

.header .lead {
  color: #383838; // Replace with your desired color for the description
}